// -----------------------------------------------------------------------------
// Affiliates
// -----------------------------------------------------------------------------

.fa-money-marker::before {
  content: "\f0d6";
  font-size: 50px;
  border-radius: 100%;
  color: #FFF;
  background: #345caa;
  padding: 10px;
}

.fa-dollar-marker::before {
  content: "\f021";
  font-size: 50px;
  border-radius: 100%;
  color: #FFF;
  background: #345caa;
  padding: 10px 15px 10px 15px;
}

.fa-setup-marker::before {
  content: "\f013";
  font-size: 50px;
  border-radius: 100%;
  color: #FFF;
  background: #345caa;
  padding: 10px 15px 10px 15px;
}

.fa-program-marker::before {
  content: "\f11c";
  font-size: 50px;
  border-radius: 100%;
  color: #FFF;
  background: #345caa;
  padding: 10px;
}

.learnmore-affil {
    background: #345caa;
    padding: 12px 20px;    
    color: #fff;
    float: left;
    cursor: pointer;
    font-size: 35px;
    font-weight: bold;    
}
