// Our Scientists
// -----------------------------------------------------------------------------
.our-scientists-bg-hero-image {
  position: relative;
  background-image: url(https://cdn11.bigcommerce.com/s-nh4zo/product_images/uploaded_images/our-scientists-ian-josh-tim-johan-jan2.jpg);
  background-size: auto 100%;
  background-repeat:no-repeat;
  background-position:center;
  padding:12% 0 10%;
}
.our-scientists-bg-hero-row {
  width:1000px;
  max-width:100%;
  margin:0 auto;
}
.science-bg-hero-image {
  position: relative;
  background-image: url(https://cdn11.bigcommerce.com/s-nh4zo/product_images/uploaded_images/science-page-header.jpg);
  background-size: 100%;
  background-repeat:no-repeat;
  background-position:center;
  padding:12% 0 10%;
}
.science-bg-hero-row {
  width:1000px;
  max-width:100%;
  margin:0 auto;
}
.diffusix-bg-hero-image {
  position: relative;
  background-image: url(https://cdn11.bigcommerce.com/s-nh4zo/product_images/uploaded_images/diffusix-page-header.jpg);
  background-size: auto 100%;
  background-repeat:no-repeat;
  background-position:center;
  padding:12% 0 10%;
}
.diffusix-bg-hero-row {
  width:1000px;
  max-width:100%;
  margin:0 auto;
}
h1.our-scientists-hero-text {
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  font-size:75px;
  text-align:center;
  padding-top:5%;
  text-shadow:0px 0px 50px #000000;
}
p.our-scientists-hero-description {
  margin-left:auto;
  margin-right:auto;
  margin-top:-50px;
  font-family:'roboto';
  font-size:25px;
  text-align:center;
  text-shadow:0px 0px 5px #000000;
  line-height:normal;
}
@media only screen and (max-width: 812px) and (min-width: 545px){
  h1.our-scientists-hero-text{
      font-size: 50px;
      margin-top:0px;
  }
  p.our-scientists-hero-description{
      font-size: 15px;
      margin-top:-40px;
  }
}

@media only screen and (max-width: 545px) {
  h1.our-scientists-hero-text{
      font-size: 35px;
      margin-top:0px;
  }
  p.our-scientists-hero-description{
      font-size: 15px;
      margin-top:-40px;
  }
}

@media only screen and (min-width: 1300px){
  h1.our-scientists-hero-text{
      font-size: 100px;
  }
  p.our-scientists-hero-description{
      font-size: 30px;
  }

}

.timothy_huang h1 span {
  color: #f26c23;
}

.adam_davis h1 span {
  color: #d2334a;
}

.jan_akervall h1 span {
  color: #00a3e0;
}

.johannes_schwank h1 span {
  color: #ffcc4c;
}

.about_info {
  border-bottom: 2px solid #cdcdcd;
  min-height: 300px;
}

#about-gray {
filter: grayscale;
-webkit-filter: grayscale(1);
transition: filter .5s ease-in-out;
}

#about-gray:hover{
filter: none;
-webkit-filter: grayscale(0);
}

.about_us .BlockContent {
padding: 0px 15px;
}

// THE SISU ADVANTAGES
// -----------------------------------------------------------------------------
.sisu-advantages-heading.sisu-advantages-heading {
  margin-left: auto;
  margin-right: auto;
  width: 50%;

  font-family: 'bebas_neue_bold', Arial, sans-serif;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}

.page.science {
  .section {
    padding: 3rem 0;
  }
}

.sisu-features {
  text-align: center;
}
.the-science-of-sisu-diffusix::after,
.sisu-features::after {
  content: '';
  display: table;
  clear: both;
}
.the-science-of-sisu-diffusix-link-v2,
.the-science-of-sisu-diffusix-v2,
.the-science-of-sisu-diffusix {
  color: #fff;
}
.the-science-of-sisu-diffusix-v2 {
  margin: 0;  
  padding: 1rem;
  text-align: center;
  border: 1px solid;
}
.sisu-feature-heading  {
  font-family: 'bebas_neue_bold', Arial, sans-serif;
}


@media (min-width: 801px) {
  .the-science-of-sisu-diffusix-col {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .the-science-of-sisu-diffusix-col,
  .sisu-feature {
    float: left;
    width: 50%;
    padding-left: 1rem;
    padding-right: 1rem;    
    margin-bottom: 3rem;
  }
  .sisu-feature:nth-child(5) {
    margin-left: 25%;
  }  
}
@media only screen and (max-width: 768px) {
  .sisu-advantages-heading.sisu-advantages-heading {
    width: 90%;
  }  
  .sisu-feature-heading.sisu-feature-heading,
  .sisu-advantages-heading.sisu-advantages-heading {
    font-size: 32px;
  }
  .sisu-feature-description.sisu-feature-description {
    font-size: 14px;
  }
}

@media only screen and (max-width: 480px) {
  .sisu-feature-heading.sisu-feature-heading,
  .sisu-advantages-heading.sisu-advantages-heading {
    font-size: 24px;
  }
}
