@media only screen and (max-width: 800px) {
  #dealPageTitle {
    margin-top: 25px;
    font-size: 1.75rem;
  }

  #dealPageSubtitle {
      margin-top: 0;
  }

  #app hr {
  margin: 20px auto 10px;
  }

  .img-hover-zoom {
    float: none !important;
    margin: 10% auto 0 auto !important;
    padding: 5% !important;
    width: 95% !important;
  }

  .chooseCenterH2 {
    font-size: 1.5rem;
  }

  .chooseCenterContainer {
    width: 85% !important;
  }
}

@media only screen and (max-width: 873px) {
  .banners {
    display: none;
  }

  // .homepage-product-container {
  //   background-position: left;
  // }

  // .homepage-product-container.hpc-left {
  //   background-position: right;
  // }

  .about-content-container {
    flex-direction: column;
  }

  .about-image {
    order: 1;
  }

  .about-content {
    order: 2 !important;
    padding: 2rem;
  }

  .about-content h2, .about-content p {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0 auto;
  }

  .about-content.about-left {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }

  .quiz-result-container {
    flex: 0 1 100%;
    flex-direction: column;
    // padding: 0 2rem;
  }

  .quiz-container {
    flex-direction: column;
    padding: 3rem 2rem 0;
    text-align: center;
  }

  #sports-form {
    margin: 0 auto 2rem;
  }

  .highlightedText {
    position: relative!important;
  }

  #quiz-result-contents-container {
    flex-direction: column;
  }

  .quiz-result-card {
    margin: 2rem 0;
  }

  .homepage-product-container {
    padding: 5%;
  }

  .homepage-product-info-container {
    text-align: center;
    width: 100%;
  }

  #homepage-product-1 {
    background-image: url( '../img/sisu/theme/home/' + stencilString("homepage-prod1-src") + '-mobile.jpg');
  }
  
  #homepage-product-2 {
    background-image: url( '../img/sisu/theme/home/' + stencilString("homepage-prod2-src") + '-mobile.jpg');
  }
  
  #homepage-product-3 {
    background-image: url( '../img/sisu/theme/home/' + stencilString("homepage-prod3-src") + '-mobile.jpg');
  }
  
  #homepage-product-4 {
    background-image: url( '../img/sisu/theme/home/' + stencilString("homepage-prod4-src") + '-mobile.jpg');
  }
  
  #homepage-product-5 {
    background-image: url( '../img/sisu/theme/home/' + stencilString("homepage-prod5-src") + '-mobile.jpg');
  }

  #homepage-sova-container {
    background-image: url('../img/sisu/theme/home/sova-homepage-color-mobile.jpg');
  }

  .homepage-offers {
    flex-wrap: wrap;
  }
  
  .homepage-offer {
    margin: 1rem 0 0;
  }
  
  .homepage-offer.offerLeft {
    margin-right: 0;
  }
  
  .homepage-offer.offerRight {
    margin-left: 0;
  }
  .footer-info-heading.footer-store-name {
    margin: 0 auto;
  }
}

@media only screen and (min-width: 874px) {
  .body {
    margin-top: 3.5rem
  }

  .container {
    max-width: 1500px;
  }

  .footer-info-heading.footer-store-name {
    margin-left: -28px;
  }

  div#navPages- {
    width: 100% !important;
  }
  
  .navPages-item:first-child .column-menu.navPage-subMenu {
    width: 100vw !important;
    left: 0px;
    top: 70px;
    position: fixed;
    justify-content: center;
  }

  header.slim, .header {
    background: none;
  }
  
  .header-logo--wrap {
    backdrop-filter: saturate(150%) blur(8px);
    background: rgba(255, 255, 255, 0.75);
    transition-property: background;
    transition-duration: .75s;
  }
  
  .navPages-container.temp-menu {
    background: none;
  }
  
  .navPages li:hover, .navPages {
    background: none;
  }
  
  .column-menu.navPage-subMenu {
    backdrop-filter: saturate(150%) blur(16px);
    // background: rgba(255,255,255, 0.92);
  }

  .accordion-navigation > div {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    position: relative;
  }

//  .accordion-navigation .accordion-title {
//     padding-left: 0;
//   }

}

@media only screen and (max-width: 1919px) {
  .yotpo.yotpo-main-widget {
    max-width: 1200px;
    padding: 0 1rem;
  }

  .header-logo {
    max-width: 1500px;
  }
}

@media only screen and (min-width: 1920px) {
  .container {
    max-width: 1920px;
  }

  .accordion-navigation > div {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    position: relative;
  }

  .header-logo {
    max-width: 1920px;
  }
}
