---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}

<!-- {{#if banners.top}}
<div class="banners" data-banner-location="top">
    <div class="owl-carousel owl-banner owl-theme owl-loaded">
        <div class="owl-stage-outer">
            <div class="owl-stage">
                <div class="owl-item">
                    <div data-event-type="promotion-click">
                        <p>50% off storewide! (limited time offer) <a class="button button--small button--banner" href="/about-us/">click here</a></p>
                    </div>
                </div>
                <div class="owl-item">
                    <div data-event-type="promotion-click">
                        <p>(see'-soo) <em>noun</em> - bravery, tenacity, <strong>grit</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{/if}} -->
{{#if carousel}}
{{> components/carousel arrows=theme_settings.homepage_show_carousel_arrows
play_pause_button=theme_settings.homepage_show_carousel_play_pause_button}}
{{/if}}

{{{snippet 'home_content'}}}

{{{region name="home_below_carousel"}}}

{{/partial}}

{{#partial "page"}}
    {{#each shipping_messages}}
        {{> components/common/alert/alert-info message}}
    {{/each}}

    <div class="main full grid-bg">
    <!-- AH EDIT -->
        <div class="container full-width">
            <!-- {{#if products.featured}}
                {{> components/products/featured products=products.featured columns=theme_settings.homepage_featured_products_column_count}}
            {{/if}}
            {{{region name="home_below_featured_products"}}}
        
            {{#if products.top_sellers}}
                {{> components/products/top products=products.top_sellers columns=theme_settings.homepage_top_products_column_count}}
            {{/if}}
            {{{region name="home_below_top_products"}}}
        
            {{#if products.new}}
                {{> components/products/new products=products.new columns=theme_settings.homepage_new_products_column_count}}
            {{/if}} -->
            {{#if theme_settings.homepage-prod-amount '>' 0}}
            <div class="homepage-products">
                <div class="homepage-product-container hpc-left" id="homepage-product-1">
                    <div class="homepage-product-info-container">
                        <div class="homepage-product-category-container animateMe">
                            <span class="homepage-product-category">{{theme_settings.homepage-prod1-category}} | </span><span class="homepage-product-subCategory">{{theme_settings.homepage-prod1-subCategory}}</span>
                        </div>
                        <h2 class="homepage-product-name animateMe one">{{theme_settings.homepage-prod1-name}}</h2>
                        <p class="homepage-product-description animateMe two">{{theme_settings.homepage-prod1-description}}</p>
                        <a class="button button--primary animateMe two" href="/sisu-aero-mouth-guard/">{{theme_settings.homepage-prod1-button}}</a>
                    </div>
                </div>
                {{#if theme_settings.homepage-prod-amount '>' 1}}
                <div class="homepage-product-container" id="homepage-product-2">
                    <div class="homepage-product-info-container hpp-right">
                        <div class="homepage-product-category-container animateMe">
                            <span class="homepage-product-category">{{theme_settings.homepage-prod2-category}} | </span><span class="homepage-product-subCategory">{{theme_settings.homepage-prod2-subCategory}}</span>
                        </div>
                        <h2 class="homepage-product-name animateMe one">{{theme_settings.homepage-prod2-name}}</h2>
                        <p class="homepage-product-description animateMe two">{{theme_settings.homepage-prod2-description}}</p>
                        <a class="button button--primary animateMe two" href="/sisu-max-mouth-guard/">{{theme_settings.homepage-prod2-button}}</a>
                    </div>
                </div>
                {{#if theme_settings.homepage-prod-amount '>' 2}}
                <div class="homepage-product-container hpc-left" id="homepage-product-3">
                    <div class="homepage-product-info-container">
                        <div class="homepage-product-category-container animateMe one">
                            <span class="homepage-product-category">{{theme_settings.homepage-prod3-category}} | </span><span class="homepage-product-subCategory">{{theme_settings.homepage-prod3-subCategory}}</span>
                        </div>
                        <h2 class="homepage-product-name threeD animateMe">{{theme_settings.homepage-prod3-name}}</h2>
                        <p class="homepage-product-description animateMe one">{{theme_settings.homepage-prod3-description}}</p>
                        <a class="button button--primary animateMe two" href="/3d-custom-fit-mouthguard/">{{theme_settings.homepage-prod3-button}}</a>
                    </div>
                </div>
                {{#if theme_settings.homepage-prod-amount '>' 3}}
                <div class="homepage-product-container" id="homepage-product-4">
                    <div class="homepage-product-info-container hpp-right">
                        <div class="homepage-product-category-container animateMe one">
                            <span class="homepage-product-category">{{theme_settings.homepage-prod4-category}} | </span><span class="homepage-product-subCategory">{{theme_settings.homepage-prod4-subCategory}}</span>
                        </div>
                        <h2 class="homepage-product-name animateMe">{{theme_settings.homepage-prod4-name}}</h2>
                        <p class="homepage-product-description animateMe one">{{theme_settings.homepage-prod4-description}}</p>
                        <a class="button button--primary animateMe two">{{theme_settings.homepage-prod4-button}}</a>
                    </div>
                </div>
                {{#if theme_settings.homepage-prod-amount '>' 4}}
                <div class="homepage-product-container hpc-left" id="homepage-product-5">
                    <div class="homepage-product-info-container">
                        <div class="homepage-product-category-container animateMe one">
                            <span class="homepage-product-category">{{theme_settings.homepage-prod5-category}} | </span><span class="homepage-product-subCategory">{{theme_settings.homepage-prod5-subCategory}}</span>
                        </div>
                        <h2 class="homepage-product-name animateMe">{{theme_settings.homepage-prod5-name}}</h2>
                        <p class="homepage-product-description animateMe one">{{theme_settings.homepage-prod5-description}}</p>
                        <a class="button button--primary animateMe two">{{theme_settings.homepage-prod5-button}}</a>
                    </div>
                </div>
                {{/if}}
                {{/if}}
                {{/if}}
                {{/if}}
            </div>
            {{/if}}
            <div class="homepage-productInfo">
                <div class="homepage-productInfo-container">
                    <div class="imgContainer">
                        <img src="{{cdn '../img/sisu/theme/home/flat2fit-1.jpg'}}" alt="Flat Mouthguard">
                        <img id="flatFitArrow" src="{{cdn '../img/sisu/theme/home/SVG/flat2fit-arrow.svg'}}" alt="custom fit in seconds">
                    </div>
                    <div class="homepage-productInfo-details">
                        <h2 class="section-title">Most Protective Mouthguard On The Planet</h2>
                        <div class="homepage-productInfo-detail" id="detail-1">
                            <div class="homepage-productInfo-detail-image">
                                <img src="{{cdn '../img/sisu/theme/home/SVG/detail-1.svg'}}" alt="99.996% Effective Protection">
                                <p class="homepage-productInfo-detail-reveal">SISU Mouthguards are engineered to withstand impact. Built-in perforations redirect impact forces to protect you from the toughest hits.</p>
                            </div>
                            <p class="homepage-detail-text">99.996% Effective</p>
                        </div>
                        <div class="homepage-productInfo-detail" id="detail-2">
                            <div class="homepage-productInfo-detail-image">  
                                <img src="{{cdn '../img/sisu/theme/home/SVG/detail-2.svg'}}" alt="Ultra Comfortable">
                                <p class="homepage-productInfo-detail-reveal">SISU Mouthguards are astonishingliy thin and comfortable. Perforations allow our athletes to talk, breathe, and drink with ease.</p>
                            </div>
                            <p class="homepage-detail-text">Ultra comfortable</p>
                        </div>
                        <div class="homepage-productInfo-detail" id="detail-3">
                            <div class="homepage-productInfo-detail-image">  
                                <img src="{{cdn '../img/sisu/theme/home/SVG/detail-3.svg'}}"  alt="Fits perfectly to your mouth">
                                <p class="homepage-productInfo-detail-reveal">SISU Mouthguards mold to the unique shape of your mouth. The guard remains in your mouth the entire game or practice - you never need to take it out.</p>
                            </div>
                            <p class="homepage-detail-text">Freedom to play</p>
                        </div>
                    </div>
                </div>
                <div class="homepage-productInfo-container hpi-left">
                    <div class="homepage-productInfo-details">
                        <h2 class="section-title">Like a seatbelt for your teeth</h2>
                        <div class="homepage-productInfo-detail" id="detail-4">
                            <div class="homepage-productInfo-detail-image">
                                <img src="{{cdn '../img/sisu/theme/home/SVG/detail-4.svg'}}" alt="Remoldable up to 20 times">
                                <p class="homepage-productInfo-detail-reveal">SISU Mouthguards are made from a unique medical grade thermo-polymer which is 30% stronger and can be remolded up to 20 times.</p>
                            </div>
                            <p class="homepage-detail-text">Remoldable up to 20 times</p>
                        </div>
                        <div class="homepage-productInfo-detail" id="detail-5">
                            <div class="homepage-productInfo-detail-image">  
                                <img src="{{cdn '../img/sisu/theme/home/SVG/detail-5.svg'}}" alt="Fits like a glove">
                                <p class="homepage-productInfo-detail-reveal">SISU Mouthguards are designed for a perfect fit and maximum impact. The thinnest and strongest mouthguard available.</p>
                            </div>
                            <p class="homepage-detail-text">Fits like a glove</p>
                        </div>
                        <div class="homepage-productInfo-detail" id="detail-6">
                            <div class="homepage-productInfo-detail-image">    
                                <img src="{{cdn '../img/sisu/theme/home/SVG/detail-6.svg'}}" alt="Best mouthguard for braces">
                                <p class="homepage-productInfo-detail-reveal">SISU Mouthguards are the perfect match for athletes with braces. Visit our <a href="/fitting/classic/braces/">fitting with braces</a> page for more details.</p>
                            </div>
                            <p class="homepage-detail-text">Best mouthguard for braces</p>
                        </div>
                    </div>
                    <div class="imgContainer">
                        <img src="{{cdn '../img/sisu/theme/home/flat2fit-2.jpg'}}" alt="Molded Mouthguard">
                    </div>
                </div>
            </div>
            <div class="homepage-offers">
                
                {{!--<div class="homepage-offer offerLeft">
                    <div class="homepage-offer-info-container">
                        <h2 class="homepage-offer-name animateMe">BECOME A RETAILER</h2>
                        <p class="homepage-offer-description animateMe one">The Best Mouthguard + The Best Retailers</p>
                        <a class="button button--primary animateMe two dealButton" href="/become-a-retailer/">LEARN MORE</a>
                    </div>
                </div> --}}
                {{!-- <div class="homepage-offer offerLeft">
                    <div class="homepage-offer-info-container">
                        <h2 class="homepage-offer-name animateMe">FREE CASE DEAL</h2>
                        <p class="homepage-offer-description animateMe one">Get a free case with every mouthguard purchase!<br />USE CODE: CASE21</p>
                        <a class="button button--primary animateMe two dealButton" href="/categories/mouthguards/">SHOP NOW</a>
                    </div>
                </div> --}}
                <div class="homepage-offer offerLeft">
                    <div class="homepage-offer-info-container">
                        <h2 class="homepage-offer-name animateMe">20% OFF BUNDLES</h2>
                        <p class="homepage-offer-description animateMe one">All bundles 20% off<br />Plus a new bundle - Now Available!</p>
                        <a class="button button--primary animateMe two dealButton" href="/categories/bundles/" onclick='ga("send", "event", "bundle-sale-2022", "ClickedButton","HomePageDeal");'>SHOP NOW</a>
                    </div>
                </div>
               
                {{!-- <div class="homepage-offer offerLeft">
                    <div class="homepage-offer-info-container">
                        <h2 class="homepage-offer-name animateMe">$34.99 Apparel Bundle</h2>
                        <p class="homepage-offer-description animateMe one">Get any apparel item + Aero guard <br />for only $34.99!</p>
                        <a class="button button--primary animateMe two dealButton" href="/apparel/" onclick='ga("send", "event", "holiday-2021-apparel-3499", "ClickedButton","HomePageDeal");'>SHOP NOW</a>
                    </div>
                </div> --}}
                <div class="homepage-offer offerRight">
                    <div class="homepage-offer-info-container">
                        <h2 class="homepage-offer-name animateMe three">BECOME A VIP</h2>
                        <p class="homepage-offer-description animateMe four">For Our Saviest Shoppers and Most Dedicated Athletes.</p>
                        <a class="button button--primary animateMe five dealButton" href="/vip/">SIGN UP</a>
                    </div>
                </div>
            </div>
            <div class="homepage-sova">
                <div id="homepage-sova-container">
                    <div class="homepage-product-info-container">
                        <h2 class="homepage-sova-title animateMe">Do you grind your teeth at night?</h2>
                        <p class="homepage-sova-description animateMe two">SOVA Nightguard can help.</p>
                        <a class="button button--primary animateMe three" href="https://www.sovanightguard.com/" target="_blank">Learn More</a>
                    </div>
                </div>
            </div>
            <div class="homepage-partners">
                <h2 class="section-title">Our Partners</h2>
                <div class="owl-carousel owl-theme owl-loaded">
                    <div class="owl-stage-outer">
                        <div class="owl-stage">
                            <div class="owl-item">
                                <img src="{{cdn '../img/sisu/theme/home/SVG/brand-nsf.svg'}}" alt="National Science Foundation">
                            </div>
                            <div class="owl-item">
                                <img src="{{cdn '../img/sisu/theme/home/SVG/brand-ccm.svg'}}" alt="CCM Hockey">
                            </div>
                            <div class="owl-item">
                                <img src="{{cdn '../img/sisu/theme/home/SVG/brand-uofm.svg'}}" alt="University of Michigan">
                            </div>
                            <div class="owl-item">
                                <img src="{{cdn '../img/sisu/theme/home/SVG/brand-psu.svg'}}" alt="Penn State University">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/partial}}

{{#partial "hero-bottom"}}
    {{#if blog.recent_posts}}
        <div class="banners blog-posts-wrap">
            <div class="container">
                <h2 class="page-heading">Recent Posts</h2> 
                <div class="blog-posts">
                    {{#each blog.recent_posts}}
                        {{> components/blog/post post=this}}
                    {{/each}}
                </div>
            </div>
        </div>
    {{/if}}

    {{{region name="home_below_new_products"}}}
{{/partial}}

{{> layout/base}}
