  #bulk-order-form {
  margin: 0 auto;
  width: 70%;
 }
 .bulk-form-field {
  display: grid;
  text-align: center;
  padding-bottom: 18px;
 }
 .bulk-form-row {
  display: grid;
  grid-template-columns: 100px repeat(2, 1fr);
  grid-column-gap: 8px;
 }
 .bulk-form-col {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: pre-line;

  .form-increment {
    display: flex;
    width: 125px;
    align-self: center;

    .button {
      width: 75px;
    }
  }
  
  input.form-input.form-input.\-.incrementTotal {
    display: flex;
    text-align: center;
    align-self: center;
    justify-self: center;
  }
 }
 .bulk-product-image {
  max-height: 100px;
  width: auto;
  // box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.25);
 }
 .bulk-add-cart {
  width: 180px;
  margin: 0 auto;
  grid-column: 4;
 }
 .message {
  position: absolute;
  padding: 0;
  margin: 10px;
 }

 /* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion:after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  font-size: 30px;
  color: #777;
  float: right;
  // margin-left: 5px;
  line-height: 23px;
}

.accordion.active:after {
  content: '\2212'; /* Unicode character for "minus" sign (-) */
}

// .bulk-form-col:last-child {
//   text-align: right;
// }

@media only screen and (max-width: 1080px) {
  .bulk-form-row {
    grid-template-columns: none;
    img {
      max-height: none;
      max-width: 200px;
      align-self: center;
    }
  }
  .bulk-form-row:first-child {
    display: none;
  }
  .bulk-form-col.message {
    position: relative;
    min-height: 45px;
  }
}
