.fitting-instructions-video {
  text-align: center;
  background-color: #bd394b;
  padding: 4rem 0 6rem;
  margin-bottom: 3rem;
}

.fitting-select-product:hover img {
  filter: grayscale(0) opacity(40%);
  transition-property: filter;
  transition-duration: .25s;
}

.fitting-select-product:hover {
  filter: grayscale(0) opacity(100%);
  transform: scale(1.05);
  transition-property: filter, transform;
  transition-duration: .25s;
}

.fitting-select-product:hover .select-product-title {
  filter: grayscale(0) opacity(100%);
  transition-property: filter;
  transition-duration: .25s;
}

.fitting-title-thin {
  font-family: 'Roboto Condensed';
  font-weight: 100;
}

a.fitting-select-product {
  display: flex;
  justify-content: center;
  flex-direction: column;
  filter: grayscale(100) opacity(40%);
  margin: 0 1rem;
}

#fitting-prod-1.active,
#fitting-prod-2.active,
#fitting-prod-3.active,
#fitting-prod-4.active,
#fitting-prod-5.active,
#fitting-prod-6.active {
  filter: unset;
  transform: scale(1.05);
  &:hover img {
    filter: unset;
  }
}

div.fitting-select {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 2rem;
}

.fitting p {
  font-size: unset;
}

.fitting-instructions {
  font-size: 1.25rem;
  margin-left: 25%;
  margin-right: 12%;
}

.fitting-step-number {
  font-weight: bold;
  font-size: 1.5rem;
  padding-right: .5rem;
}

.fitting-step {
  padding: 5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fitting-step > p {
  flex: 0 1 20%;
}

.fitting-step div {
  flex: 0 1 25%;
  margin-right: 10%;
}

// .fitting-step.instructions-1 {
//   width: 100%;
// }

.fitting-columns {
  width: 50%;
  float: left;
}

div.fitting-columns {
  flex: 0 1 50%;
}

.fitting-step.instructions-10 .fitting-columns:nth-child(2) .highlighter {
  background-color: #c74a4a;
}

.fitting-step.instructions-10 .fitting-columns:nth-child(2) .highlightedText {
  color: white;
  text-shadow: 0 0 4px #4e4e4e;
}

// .highlightedText p {
//   margin-bottom: 0;
//   text-shadow: 0 0 4px #4e4e4e;
// }

.instructions-0 {
  display: block;
  padding-bottom: 0;
}

.instructions-0-2 {
  display: block;
  padding-top: 0;
}

.instructions-1 {
  display: block;
  // padding-bottom: 0;
  // text-align: center;
}

.instructions-1-2 {
  display: block;
  padding-top: 0;
  text-align: left;
}

// .instructions-2 {
//   // display: block;
// }

.instructions-7 {
  display: block;
  padding-bottom: 0;
}

.instructions-8 {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

.instructions-9 {
  display: block;
  padding-top: 0;
  padding-bottom: 0;
}

.instructions-10 {
  align-items: flex-start;
}

.instructions-11 {
  padding-bottom: 0;
  display: block;
}

.instructions-11-2 {
  display: block;
  padding-top: 0;
}

.instructions-11-3 {
  padding-bottom: 0;
  display: block;
}

.instructions-11-4 {
  display: block;
  padding-bottom: 0;
  padding-top: 0;
}

.instructions-11-5 {
  padding-top: 0;
  display: block;
}

.fittingSidenav {
  width: 13%;
  position: sticky;
  text-align: right;
  z-index: 1;
  top: 25%;
  margin-top: 100px;
  left: 12%;
  overflow-x: hidden;
  padding: 20px 25px 20px 0;
  border-right: 2px solid #818181;
}

.fittingSidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.fittingSidenav a:hover {
  // color: black;
  font-weight: bold;
}

.sidenavTab.active {
  font-weight: bold;
  color: #4e4e4e;
}

.sidenavTab.active p::before {
  // border-bottom: 2px solid black;
  content: "";
  display: block;
  height: 2px;
  background: #ffc42f;
  width: 100%;
  position: absolute;
  bottom: 0;
}

// .sidenavTab:hover p::before {
//   // border-bottom: 2px solid black;
//   content: "";
//   display: block;
//   height: 2px;
//   background: #ffc42f;
//   width: 100%;
//   position: absolute;
//   bottom: 0;
// }

.sidenavTab p {
  position: relative;
  width: fit-content;
  margin-left: auto;
  margin-right: 0;
}

.braces-fitting .fitting-step {
  padding: 1rem 2rem;
}

.braces-fitting .fitting-step > p {
  flex: 0 1 auto;
}

.braces-fitting .fitting-step div {
  flex: 0 1 100%;
}

.braces-fitting {
  & .braces-1, .braces-3, .braces-5, .braces-7, .braces-9, .braces-11, .braces-13 {
  padding-top: 0;
  }

  & .braces-0, .braces-2, .braces-4, .braces-6, .braces-8, .braces-10, .braces-12 {
    padding-bottom: 0;
  }
}

.fitting-instructions-video iframe {
  max-width: 100%;
}

.fitting-step.braces-13,
.fitting-step.braces-14 {
  flex-direction: column;
}

@media only screen and (max-width: 874px) {
  .fitting-step {
    padding-left: 0;
    padding-right: 0;
  }

  .fitting-columns {
    display: block;
    width: 100%;
  }

  .instructions-10 {
    display: block;
  }
}

@media only screen and (max-width: 1921px) {
  .fitting-step p {
    flex: 0 1 50%;
  }
}

@media only screen and (max-width: 1450px) {
  .fittingSidenav {
    position: relative;
    width: 80%;
    text-align: center;
    border-right: none;
    left: unset;
    top: unset;
    bottom: unset;
    right: unset;
    display: flex;
    justify-content: space-evenly;
    margin: 0 auto;
    margin-bottom: 4rem;
    padding: 0;
  }

  .braces-fitting .fitting-step {
    padding: 1rem 0;
  }

  .fitting-instructions,
  .fitting-instructions.braces-fitting {
    margin: 0 2rem;
  }

  .fitting-instructions.braces-fitting {
    padding-top: 4rem;
  }
}

@media only screen and (max-width: 1070px) {
  .fitting-instructions,
  .fitting-instructions.braces-fitting {
    padding-top: 18rem;
  }

  .fittingSidenav {
    flex-direction: column;
    align-items: center;
  }

  .fitting-select {
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  a.fitting-select-product {
    flex: 0 1 30%;
  }

  .fitting-step {
    flex-direction: column;
  }

  .fitting-step img {
    padding-bottom: 2rem;
  }
}
