[data-section-type="storeInfo"] {
  padding-left: 45px;
  padding-right: 45px;
}

.socialLinks-item .icon:hover svg {
  fill: #ffc42f;
}

.footer-info .socialLinks .icon {
  width: 33px;
  height: 33px;
  padding: 8px;
}
