.header-logo--wrap {
  box-shadow: 0 -5px 20px 0 rgba(0, 0, 0, 0.35);
}

.navPages-container {
  border: none;
}

ol.breadcrumbs {
  text-align: left;
  // margin-top: 1rem;
  padding-top: 1rem;
}

.navPages-action:hover {
  text-decoration: none;
}

.column-menu ul {
  padding: 0 1rem;
}
