{{#unless page_type '===' 'cart'}}
<div class="banners" data-banner-location="top">
  <div class="owl-carousel owl-banner owl-theme owl-loaded">
      <div class="owl-stage-outer">
          <div class="owl-stage">
              <div class="owl-item">
                  <div data-event-type="promotion-click">
                      <p>All Bundles 20% Off! <a class="button button--small button--banner" href="/categories/bundles/" onclick='ga("send", "event", "bundle-sale-2022", "ClickedButton","AnnouncementBar");'>click here</a></p>
                  </div>
              </div>
              <div class="owl-item">
                <div data-event-type="promotion-click">
                    <p>New Season Saver Bundle <a class="button button--small button--banner" href="/season-saver-bundle/" onclick='ga("send", "event", "season-saver-bundle", "ClickedButton","AnnouncementBar");'>shop now</a></p>
                </div>
            </div>
            <div class="owl-item">
                <div data-event-type="promotion-click">
                    <p><strong>FREE RAIN PONCHO</strong> with all bundles!</p>
                </div>
              </div>
              <div class="owl-item">
                <div data-event-type="promotion-click">
                    <p><strong>FREE SHIPPING</strong> on all orders! (US only)</p>
                </div>
              </div>
              <div class="owl-item">
                  <div data-event-type="promotion-click">
                      <p>(see'-soo) <em>noun</em> - bravery, tenacity, <strong>grit</strong></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
{{/unless}}
