<!DOCTYPE html>
<html class="no-js" lang="{{ locale_name }}">
    <head>
        <title>{{ head.title }}</title>
        {{{ resourceHints }}}
        {{{ head.meta_tags }}}
        {{{ head.config }}}
        {{#block "head"}} {{/block}}

        <link href="{{ head.favicon }}" rel="shortcut icon">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <script>
            // Change document class from no-js to js so we can detect this in css
            document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
        </script>

        {{#if theme_settings.csspreload '===' ''}}
            {{#if theme_settings.use_wow}}
                <link href="{{cdn 'assets/vendor/animate/animate.min.css'}}" rel="stylesheet">
            {{/if}}
            {{ getFontsCollection }}
            {{{stylesheet '/assets/css/theme.css'}}}
        {{else}}
            <script>document.write('{{{ getFontsCollection }}}'.replace(/:[i,0-9]{3,}/g, '').replace('rel="stylesheet"', 'rel="preload" as="style" onload="this.onload=null;this.rel=\'stylesheet\'"'));</script>
            <noscript>{{ getFontsCollection }}</noscript>
            
            {{#if theme_settings.use_wow}}
                {{{stylesheet '/assets/vendor/animate/animate.min.css' rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'"}}}
                <noscript>{{{stylesheet '/assets/vendor/animate/animate.min.css'}}}</noscript>
            {{/if}}

            <script src="{{cdn 'assets/vendor/loadcss/cssrelpreload.min.js'}}" async></script>
        {{/if}}

        {{#if theme_settings.csspreload '===' 'performance'}}
            <style>@media (max-width: 800px) { .pace, .nanobar { display: none } }</style>
            {{{stylesheet '/assets/css/theme.css'}}}
            <script>window.stencilStyleLoaded = true;</script>
            <script>window.lazySizesConfig = { loadHidden: false, expand: 150, expFactor: 3 };</script>

        {{else if theme_settings.csspreload '===' 'speedtest'}}
            <meta class="foundation-data-attribute-namespace">
            <style id="themeCSSPreload">
                meta.foundation-data-attribute-namespace { font-family: false }
                body { visibility: hidden !important }
                .emthemesModez-header-userSection > .container { transition: none !important }
            </style>
            <style>@media (max-width: 800px) { .pace, .nanobar { display: none } }</style>
            {{{stylesheet '/assets/css/theme.css' rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet';var el=document.getElementById('themeCSSPreload');el.parentNode.removeChild(el);window.stencilStyleLoaded=true;window.stencilAutoload&&window.stencilAutoload()"}}}
            <noscript>{{{stylesheet '/assets/css/theme.css'}}}</noscript>
            <script>window.lazySizesConfig = { loadHidden: false, expand: 0 };</script>
        {{/if}}

        {{#block "head-after"}} {{/block}}

        {{{head.scripts}}}
        {{{head.rsslinks}}}

        {{inject 'themeSettings' theme_settings}}
        {{inject 'genericError' (lang 'common.generic_error')}}
        {{inject 'maintenanceMode' settings.maintenance}}
        {{inject 'urls' urls}}
        {{inject 'secureBaseUrl' settings.secure_base_url}}
        {{inject 'pageType' page_type}}
        {{inject 'cartId' cart_id}}
        {{inject 'template' template}}
        {{inject 'pageTitle' page.title}}
        {{inject 'product' product}}
        {{{snippet 'htmlhead'}}}
    </head>
    <body class="{{#if theme_settings.navigation_hover}}navigation-hover{{/if}} page-type-{{page_type}}
        {{#if theme_settings.product_outstock_badge}}theme-show-outstock-badge{{/if}}
        {{#if theme_settings.header_sticky}}theme-header-sticky{{/if}}
        ">    
        {{#if theme_settings.fb_page '!==' ''}}
            <!-- Facebook SDK -->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.10&appId=378187145615477";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        {{/if}}
        
        {{{snippet 'header'}}}
        <svg data-src="{{cdn 'img/icon-sprite.svg'}}" class="icons-svg-sprite"></svg>


        {{> components/common/body }}

        <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
        {{#if theme_settings.csspreload}}
            <script>window.stencilBootstrapArgs = { page_type: "{{page_type}}", jsContext: {{jsContext}}, autoload: true };</script>
            <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}" async></script>
        {{else}}
            <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>
            <script>
                // Exported in app.js
                window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
            </script>
        {{/if}}

        {{{footer.scripts}}}
        {{{snippet 'footer'}}}
        {{#block "footer-scripts"}} {{/block}}
    </body>
</html>
