<!DOCTYPE html>
<html>
<head>
    <title>{{ head.title }}</title>
    {{{ head.meta_tags }}}
    {{{ head.config }}}

    <link href="{{ head.favicon }}" rel="shortcut icon">
    {{#block "head"}}{{/block}}
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    {{inject 'themeSettings' theme_settings}}
    {{inject 'genericError' (lang 'common.generic_error')}}
    {{inject 'maintenanceMode' settings.maintenance}}
    {{inject 'urls' urls}}
    {{inject 'secureBaseUrl' settings.secure_base_url}}
    {{inject 'pageType' page_type}}
    {{inject 'cartId' cart_id}}
    {{inject 'template' template}}
    {{inject 'pageTitle' page.title}}
    {{inject 'product' product}}
    {{{snippet 'htmlhead'}}}
</head>
<body>
    {{#block "page"}}{{/block}}

    <script>window.__webpack_public_path__ = "{{cdn 'assets/dist/'}}";</script>
    <script src="{{cdn 'assets/dist/theme-bundle.main.js'}}"></script>
    <script>
        // Exported in app.js
        window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
    </script>

    <!-- <script>
        // Exported in app.js
        window.stencilBootstrap("{{page_type}}", {{jsContext}}).load();
    </script> -->
</body>
</html>
